/* theme */

#light {
  --primary-color: #222831;
  --secondary-color: #DDDDDD;
  --highlight-color: #8973f9;
  --highlight-hover-color : #775df7;
}

#dark {
  --primary-color: #DDDDDD;
  --secondary-color: #1B2430;
  --highlight-color: #8973f9;
}

.app {
  background-color: var(--secondary-color);
  transition: background-color 150ms ease-in 50ms;
  color: var(--primary-color);
}

.addInvoice{
    background-color: var(--primary-color);
    transition: background-color 150ms ease-in 50ms;
    color: var(--secondary-color);
}

/* Loader */

.loader {
  margin: 6rem auto;
  border: 0.6rem solid rgb(218, 218, 218);
  border-radius: 50%;
  border-top: 0.6rem solid #6366F1;
  width: 5rem;
  height: 5rem;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.logo{
  background: #4776E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}